<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
    content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="__MCSS__/font.css">
<link rel="stylesheet" href="__MCSS__/xadmin.css">
<link rel="stylesheet" href="__MRESOURCE__/lib/layui/css/modules/layer/default/layer.css">
<script type='text/javascript' src="http://apps.bdimg.com/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="__MRESOURCE__/lib/layui/layui.js" charset="utf-8"></script>
<script src="__MRESOURCE__/lib/layui/lay/modules/layer.js" charset="utf-8"></script>
<script type="text/javascript" src="__MJS__/xadmin.js"></script>
<script type="text/javascript" src="__MJS__/common.js"></script>

<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->